/.vscode
/Fila Dinamica/.vscode
/Fila Estatica/.vscode
/Fila Estatica Circular/.vscode
/Lista Dinamica Circular/.vscode
/Lista Dinamica Duplamente Encadeada/.vscode
/Lista Dinamica Encadeada/.vscode
/Lista Estatica/.vscode
/Pilha Dinamica/.vscode
/Pilha Estatica/.vscode
/Desafio - Notacao Polonesa Reversa/.vscode
